In [1]:
import pandas as pd

In [7]:
# Load data
policies = pd.read_csv('policies.csv') 
claims = pd.read_csv('claims.csv')

In [11]:
print(len(policies))
policies.head(3)

10050

,Policy_ID,Customer_ID,Policy_Age,Product_Type,Vehicle_Type,Driving_History,Region,Exposure,Premium,Earned_Premium,Ultimate_Losses,Pure_Premium,Reserved_Losses
0,1,861,1,Liability,Truck,1,West,2,931.31,931.31,161.58,80.790988,129.26
1,2,3773,25,Liability,SUV,1,West,26,983.91,983.91,2446.77,94.106621,1957.42
2,3,3093,20,Home,Car,2,Northeast,21,772.97,772.97,3361.05,160.049829,2688.84

In [12]:
print(len(claims))
claims.head(3)

2956

   Claim_ID  Policy_ID  Claim_Date  Claim_Amount       Claim_Type  Severity
0         1          1  2024-11-19        132.88  Property Damage    132.88
1         2          1  2024-11-12         85.09    Bodily Injury     85.09
2         3          7  2019-04-24         93.94  Property Damage     93.94

In [ ]:
# Alterntive 1: Cleaning data NaN
policies_null = policies.isnull().sum() 
claims_null = claims.isnull().sum()
print(policies_null, '\n')
print(claims_null)

Policy_ID            0
Customer_ID          0
Policy_Age           0
Product_Type         0
Vehicle_Type         0
Driving_History      0
Region               0
Exposure             0
Premium              0
Earned_Premium       0
Ultimate_Losses      0
Pure_Premium         0
Reserved_Losses    100
dtype: int64

Claim_ID         0
Policy_ID        0
Claim_Date       0
Claim_Amount    17
Claim_Type       0
Severity         0
dtype: int64

In [15]:
policies_df = policies.copy()
claims_df = claims.copy()

reserved_losses_median = policies_df['Reserved_Losses'].median()
claim_amount_median = claims_df['Claim_Amount'].median()

policies_df['Reserved_Losses'].fillna(reserved_losses_median, inplace=True)
claims_df['Claim_Amount'].fillna(claim_amount_median, inplace=True)

policies_df_null = policies_df.isnull().sum()
claims_df_null = claims_df.isnull().sum()

print(policies_df_null, '\n')
print(claims_df_null)

Policy_ID          0
Customer_ID        0
Policy_Age         0
Product_Type       0
Vehicle_Type       0
Driving_History    0
Region             0
Exposure           0
Premium            0
Earned_Premium     0
Ultimate_Losses    0
Pure_Premium       0
Reserved_Losses    0
dtype: int64

Claim_ID        0
Policy_ID       0
Claim_Date      0
Claim_Amount    0
Claim_Type      0
Severity        0
dtype: int64

In [25]:
# Alterntive 2: Dropping NaN dependig on the column
print(len(policies))
print(len(claims))

policies_drop_nan_col_dependent = policies.copy()
claims_drop_nan_col_depdendent = claims.copy()

policies_drop_nan_col_dependent.dropna(subset='Reserved_Losses', inplace=True)
claims_drop_nan_col_depdendent.dropna(subset='Claim_Amount', inplace=True)

print(len(policies_drop_nan_col_dependent))
print(len(claims_drop_nan_col_depdendent))

10050
2956
9950
2939

In [26]:
# Alternative 3: Drop all NaNs
print(len(policies))
print(len(claims))

policies_drop_all_nan = policies.copy()
claims_drop_all_nan = claims.copy()

policies_drop_all_nan.dropna(inplace=True)
claims_drop_all_nan.dropna(inplace=True)

print(len(policies_drop_all_nan))
print(len(claims_drop_all_nan))
print('Policies df Dropped Records:', len(policies) - len(policies_drop_all_nan))
print('Claims df Dropped Records:', len(claims) - len(claims_drop_all_nan))

10050
2956
9950
2939
Policies df Dropped Records: 100
Claims df Dropped Records: 17

**Obs:** Proceeding with Alternative 1: NaN replace with Median of column

In [ ]:
# Cleaning duplicates

In [ ]:
claim